---
---
@import "minima";

/**
 * Year Lists
 */
.year-list ul {
    list-style-type: circle;
}

/**
 * Lists
 */
.list-content {
    line-height: 14px;
    font-family: monospace;
    letter-spacing: -0.5px

    h2 {
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold
    }
}

/**
 * Quotes
 */
.quotes-div {
    margin-top: 25px;
}

.quote-data {
    text-align: right;
    margin-top: -10px;
    font-size: 18px;
}

.quote-subject {
    font-style: italic;
}

.quote-author {
    font-weight: bold;
}

.quote-content {
    margin-top: 40px;
    text-indent: 10px;
    text-align: justify;
}