---
---
@import "minima";

/**
 * Year Lists
 */
.year-list ul {
    list-style-type: circle;
}

/**
 * Lists
 */
.list-content {
    line-height: 18px;
    font-family: monospace;
    letter-spacing: -0.5px;

    h2 {
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
    }
}